.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    
    .list-main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 5px ;
        
        .d-main{
            background-color: #4a90e2;
            padding: 15px 5px;
            width: 100%;
            display: flex;
            // flex-direction: column;
            margin: 5px 10px;
            justify-content: space-evenly;
            border-radius: 5px;
            // background-color: green;
            color: white;
            min-width: 370px;

            div {
                
                text-align: left;
                display: flex;
                flex-direction: column;
            }
            .details{
                text-align: left;
                width: 80%;
                gap: 5px;
                font-size: 18px;
                
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .actions{
                text-align: center;
                width: 20%;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: 20px;

                svg{
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover{
                        color: blue;
                    }
                }
            }
        }
    }
}